.App {
  text-align: center;
}

.home {
  background-image: url(./image/yellow_home.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
}

.home_layout {
  color: black;
  padding-top: 10vh;
  padding-bottom: 5vh;
  filter: brightness(1.75);
}

.card_layout {
  border-radius: 10px;
  box-shadow: 5px 10px;
}

@media (max-width: 575.98px) {
  .home_layout {
    padding-top: 10vh;
  }
  .card_layout {
    margin-top: 5px;
  }
}