.App {
  text-align: center;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home {
  background-color: gray;
  background: linear-gradient(-100deg, #5497ee 45%, rgba(0, 0, 0, 0) 45%), url(./image/white_home.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.content {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.home_layout {
  color: rgb(0, 0, 0);
  padding-top: 10vh;
  padding-bottom: 5vh;
  filter: brightness(1.75);
}

.card_layout {
  border-radius: 10px;
  box-shadow: 5px 10px rgb(61, 60, 60);
}

@media (max-width: 575.98px) {
  .home_layout {
    padding-top: 10vh;
  }
  .card_layout {
    margin-top: 5px;
  }
}